.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  display: flex;



}
.footer__column-link:hover {
  color: #a3a3a3;
}
