@keyframes opacity {

  from{ opacity: 1;}
to{opacity: 0.4;}
}

.link-style {
  text-decoration: none;
  color: #2f80ed;

}

.link-style:hover {
  animation: opacity 1s linear infinite alternate;


}


.link-style::after{

  content: ' →' ;

}



