
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}




.section-title_theme_dark {

  color: white;
}

.section-subtitle_theme_dark {

  color: white;
}



.table__heading_theme_dark {

  color: white;
}

.table__text_theme_dark {

  color: white;
}
