.two-columns {
  width: 80%;
  min-width: 748px;
  min-height: 300px;
  display: flex;

  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 748px;
  display: flex;
  flex-direction: column;

}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}


.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
