.footer__columns {
  width: 90%;
  box-sizing: border-box;
  padding: 60px 0 40px;
  margin: auto;
  display: flex;
  min-height: 350px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_content_info {
  margin: 0 auto 0;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}



.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  display: flex;



}

.footer__column-link:hover {
  color: #a3a3a3;
}

.footer__social-icon {
  align-self: center;
  height: 16px;
  width: 16px;
  margin-right: 10px;

}
