@import url(../vendor/normalize.css);
@keyframes rotation {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }

}
@keyframes opacity {

  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  --back-color: #f2f2f2;
  /* элемент с серым цветом для бэкграундов */
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: var(--back-color);
  display: flex;
  overflow: hidden;

}


.header__title {
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  align-self: center;
  margin: 0 0 0 64px;
  z-index: 3;

}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  max-width: 388px;
  margin: 0;
  position: absolute;
  z-index: 3;
  bottom: 30px;
  left: 64px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 64px;
  z-index: 1;

}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.logo {
  width: 228px;
  height: 32px;
}
/* //////mod//////// */
.logo_place_header {
  left: 64px;
  top: 30px;
  z-index: 3;
  position: absolute;
}
.rotation {
  animation: rotation 20s linear infinite;
}
.link-style {
  text-decoration: none;
  color: #2f80ed;

}

.link-style:hover {
  animation: opacity 1s linear infinite alternate;
}


.link-style::after {
  content: ' →';

}

/* description */
.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  min-width: 748px;

  display: flex;

  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 748px;
  display: flex;
  flex-direction: column;

}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}


.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* techniques / cards */
.techniques {
  margin-top: 100px;

}

.cards {
  max-width: 920px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

}

.cards__item {
  margin: 0 100px 0 0;
  width: 240px;

  text-align: center;
}

.cards__item:nth-child(3) {
  margin: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}

.cards__title {
  margin: 0 0 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {

  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

/* section */
.section-title {
  width: 60%;
  z-index: 3;
  margin: auto;

  text-align: center;
  line-height: 1.15em;
  font-weight: 600;
  font-size: 60px;

}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0;
  z-index: 3;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

  text-align: center;

}

/* video */
.video {
  margin-top: 100px;
}

.video__iframes {

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.video__iframe {
  border: none;
  transform: translate(0, 50px);
  width: 516px;
  height: 316px;
  margin-right: 20px;
}

.video__iframe:last-child {
  margin-right: 0;
}

/* oakley */
.oakley {
  padding-top: 160px;
  background-color: var(--back-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* feynman */
.feynman {
  box-sizing: border-box;
  padding-top: 100px;
  min-height: 890px;
  position: relative;
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__pic {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
  z-index: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  max-width: 648px;
  z-index: 1;
  text-align: center;
  margin: 0;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;

  top: 50%;
  right: 48px;
  position: absolute;
}

/* digits */
.digits {
  width: 100%;
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* table */
.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  z-index: 3;
}

.table__heading {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

/* khan */
.khan {
  background-color: var(--back-color);
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.khan__quote {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  max-width: 790px;
  margin: 50px 0 36px;
}

.khan__quote-author {
  font-style: normal;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 10px auto 68px;
}

.khan__book-container {
  display: flex;
  overflow: hidden;
}

.khan__book-pic {
  object-fit: cover;
  object-position: top left;
  width: 620px;
  height: 608px;
}

.khan__buy-link {

  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 48px;
}

/* dark mod */
.section-title_theme_dark {

  color: white;
}

.section-subtitle_theme_dark {

  color: white;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}

.table__heading_theme_dark {

  color: white;
}

.table__text_theme_dark {

  color: white;
}

/* kaufman */
.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  align-items: center;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 2;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;

}

.kaufman_theme_dark {
  background-color: #1f1f1f;
}

/* resources */
.resources {
  margin-top: 100px;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px;
}

.resources__link {
  width: 270px;
  height: 38px;
}

/* footer */
.footer__columns {
  width: 90%;
  box-sizing: border-box;
  padding: 60px 0 40px;
  margin: auto;
  display: flex;
  min-height: 350px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  margin: 0 auto 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}



.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  display: flex;



}

.footer__column-link:hover {
  color: #a3a3a3;
}

.footer__social-icon {
  align-self: center;
  height: 16px;
  width: 16px;
  margin-right: 10px;

}

.footer_theme_dark {
  background-color: #1f1f1f;
  color: white;
}
