@import url(../blocks/vendor/normalize.css);
@import url(../blocks/page/page.css); /* page */
@import url(../blocks/header/header.css); /* header*/
@import url(../blocks/description/discription.css); /* discription*/
@import url(../blocks/digits/digits.css); /* digits*/
@import url(../blocks/table/table.css); /* element table */
@import url(../blocks/feynman/feynman.css); /* feyman*/
@import url(../blocks/kaufman/kaufman.css); /*kaufman */
@import url(../blocks/kaufman/_theme/kaufman_theme_dark.css); /* kaufman mod theme_dark */
@import url(../blocks/table/_theme/table_theme_dark.css); /* table mod theme_dark */
@import url(../blocks/footer/footer.css); /* footer */
@import url(../blocks/footer/_theme/footer_theme_dark.css); /* footer theme dark */
@import url(../blocks/two-columns/two-columns.css); /* elemnt two columns */
@import url(../blocks/logo/logo.css); /* element logo */
@import url(../blocks/logo/_place/logo_place_header.css); /* logo mod */
@import url(../blocks/link/link.css); /* links */
@import url(../blocks/techniques/techniques.css); /* techniques */
@import url(../blocks/rotation/rotation.css); /* animation rotate */
@import url(../blocks/section/section.css);
@import url(../blocks/video/video.css);
@import url(../blocks/oakley/oakley.css);
@import url(../blocks/khan/khan.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/section/_theme/section_theme_dark.css);
@import url(../blocks/cards/cards.css);








/* div,
nav,
ul,
h2,h3,p,
section {
  border: 1px solid red;
}

li {
  border: 1px solid green;
}

.theme_dark {
  background-color: #1f1f1f;
  color: white;
} */


